name: Go CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22' 
          check-latest: true

      - name: Install Dependencies
        run: go mod download

      - name: Verify Code Formatting
        run: if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then exit 1; fi

      - name: Run go vet (Static Analysis)
        run: go vet ./...

      - name: Run Tests with Race Detector
        run: go test -v -race ./...